:root {
    --color-background1: #E8E8E8;
    --color-background2: #CFCFCF;
    --color-darkred: #4e2121;
    --color-lightred: #540D0D;
    --color-white: white;
    --font-sans: "Julius Sans One", sans-serif;
    --font-racing: "Racing Sans One", sans-serif;
    --font-josefin: "Josefin Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


.bg1 {
    background-color: var(--color-background1);
}

.bg2 {
    background-color: var(--color-background2);
}


.container {
    width: 100%;
    min-height: 100vh;
}


/* ÍNICIO MENU */
.header {
    width: 100%;
    height: 15vh;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--color-background1);
}

.header img {
    width: 20%;
}

.header ul {
    display: flex;
    font-size: clamp(1vmax, 1rem, 1vmin);
    list-style: none;
    gap: 70px;
}

.header a {
    text-decoration: none;
    color: black;
    font-family: var(--font-sans);
    transition: .7s;
}

.header a:hover {
    padding: 10px;
    border-radius: 50px;
    background-color: #461C1C;
    color: var(--color-white);
    text-decoration: none;
}

.menu {
    margin: auto;
    width: 90%;
    height: calc(100vh + 15vh);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


.hero {
    background-color: var(--color-background2);
    grid-column: 1/3;
    width: 70%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    gap: 20px;
}

.hero h2 {
    font-family: var(--font-racing);
    width: 100%;
    font-size: clamp(9vmax, 9rem, 4vmin);
    text-align: center;
    font-family: "Racing Sans One", sans-serif;
}


.hero p {
    text-align: center;
    width: 50%;
    font-size: clamp(1.2vmax, 1.2rem, 1vmin);
    font-weight: 600;
    font-family: var(--font-sans);
}

.button-menu {
    font-family: var(--font-sans);
    padding: 1.25rem 2rem;
    margin: 20px;
    background-color: var(--color-lightred);
    border: 2px solid #540D0D;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: 700;
    transition: .7s;
}

.button-menu:hover {
    background-color: transparent;
    border-color: var(--color-darkred);
    color: var(--color-darkred);
}


.aside-menu {
    width: 30%;
    height: 70vh;
    background-color: #461C1C;
    margin: auto;
    border-radius: 60px;
}


/* FIM MENU */

/* COMEÇO APRESENTACAO */
.container-apresentacao{
width: 100%;
display: flex;
flex-direction: row;

}

.content-apresentacao {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.content-apresentacao h2 {
    font-size: 80px;
    font-family: var(--font-racing);
}


.content-apresentacao p {
    width: 50%;
    font-size: clamp(1.2rem, 1.2rem, 4rem);
    font-weight: 700;
    font-family: var(--font-sans);
}
.button{
    padding: 1.25rem 2rem;
    width: 15%;
    background-color: var(--color-lightred);
    border: 2px solid #540D0D;
    border-radius: 50px;
    font-family: var(--font-sans);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: 700;
    transition: .7s;
}

.button:hover {
    background-color: transparent;
    border-color: var(--color-darkred);
    color: var(--color-darkred);
}


.aside-apresentacao{
    height: calc(100vh + 15vh);
    width: 50%;            
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-template-rows: repeat(3, minmax(auto, 1fr));
    gap: 20px;

}

.box1-apresentacao {
    padding: 5px;
    background-color: #461C1C;
    border-radius: 30px;
    grid-column: span 2;
}

.box2-apresentacao {
    padding: 5px;
    background-color: #461C1C;
    border-radius: 30px;
}

.box3-apresentacao {
    padding: 5px;
    background-color: #461C1C;
    border-radius: 30px;
}

/* FIM APRESENTACAO */


.container-arma {
    width: 100%;
    height: 660px;
    display: flex;
    flex-wrap: wrap;
}

.column-left {
    width: 33%;
    max-height: 600px;
    padding-left: 30px;
}

.column-left h1 {
    font-family: "Racing Sans One", sans-serif;
    font-size: clamp(5vmax, 4rem, 2vmin);
    color: var(--color-lightred);
}

.column-left h2 {
    font-family: "Julius Sans One", sans-serif;
    font-size: clamp(2vmax, 2rem, 1vmin);
    color: var(--color-lightred);
}

.image-arma1 {
    width: 70%;
    height: 90px;
    display: flex;
    border-radius: 30px;
    margin-top: 30px;
}

.image-arma1 p {
    font-family: "Julius Sans One", sans-serif;
    font-size: clamp(1.2vmax, 1.2rem, 1vmin);
    width: 90%;
    display: flex;
    align-items: center;
    padding-left: 8px;

}

.image-arma1 img {
    object-fit: cover;
    height: 90px;
    border-radius: 30px;
    width: 90px;
}

.image-arma1:hover {
    transform: scale(1.05);
    transition: 0.5s;
    background-color: #540d0d6d;

}

.column-middle {
    width: 33%;
    height: calc(100vh - 70px);
    padding: 30px;
}

.column-middle img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.column-right {
    width: 33%;
    height: calc(100vh - 70px);
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.column-right img {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 80%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.column-right p {
    font-family: "Julius Sans One", sans-serif;
    font-size: clamp(1.2vmax, 1.2rem, 1vmin);
    width: 70%;
    display: flex;
}


/* ----------------------- GALERIA ----------------------*/
.container-galeria {
    width: 100%;
    height: calc(100vh - 1px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.carrossel {
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
    max-width: 100%;
}

.carrossel::-webkit-scrollbar {
    height: 8px;
    background-color: var(--color-background2);
    border-radius: 20px;
}

.carrossel::-webkit-scrollbar-thumb {
    background-color: var(--color-darkred);
    border-radius: 20px;
}

.card {
    flex: 0 0 auto;
    scroll-snap-align: center;
    background-color: var(--color-darkred);
    border: 0.1rem solid var(--color-background2);
    border-radius: 20px;
    padding: 1rem;
    width: 300px;
}

.card img {
    width: 100%;
    margin-bottom: 0.5rem;
    object-fit: contain;
}

.card h2 {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    color: var(--color-background1);
}


/* ----------------------- HARDWARE ----------------------*/
.container-h {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-hardware {
    font-family: "Julius Sans One", sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 2rem;
}

.card-hardware {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 22rem;
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-content {
    padding: 1rem;
    text-align: start;
}

.card-content h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--color-darkred);
}

.card-content p {
    font-size: 0.9rem;
    color: var(--color-darkred);
    font-family: var(--font-josefin);
    font-weight: 400;
}

/* ----------- MEDIAS ----------- */
/* TABLET */
@media (min-width: 769px) and (max-width: 1024px) {
    .container-hardware {
        margin: 2rem auto;
        gap: 1.5rem;
    }

    .card-hardware {
        max-width: 25rem;
    }

    .card-img {
        height: 350px;
    }

    .card-content h3 {
        font-size: 1.4rem;
    }

    .card-content p {
        font-size: 1.1rem;
    }
}

/* CELULAR */
@media (max-width: 768px) {
    .container-hardware {
        grid-template-columns: 1fr;
        margin: 1rem auto;
        padding: 0 1rem;
    }

    .card-hardware {
        max-width: 28rem;
    }

    .card-img {
        height: 380px;
    }

    .card-content h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    .card-content p {
        font-size: 1.2rem;
        text-align: center;
    }

}